/*tablet-screen: 768px;
  laptop-screen: 1024px;
  extra-wide-screen: 1440px; */

/* GLOBAL STYLES */
:root {
  --text-font-sm: 18px;
  --text-font-md: 24px;
  --text-font-lg: 36px;
  --text-font-xl: 48px;
  --primary-color-dark: #1f2937;
  --primary-color-light: #3882f6;
  --text-color-primary: #f9faf8;
  --text-color-white: #ffffff;
  --text-color-secondary: #e5e7eb;
  --quote-background-color: #e5e7eb;
  --grey-background: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto";
  min-height: 100vh;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

section {
  margin-bottom: 2rem;
}
section > h3 {
  text-align: center;
  font-size: var(--text-font-lg);
}

button {
  padding: 0.6rem 2rem;
  border-radius: 6px;
  border: none;
}
button:hover {
  cursor: pointer;
}

/* HEADER */
header {
  background-color: var(--primary-color-dark);
  color: var(--text-color-primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar__logo img {
  width: 40px;
  height: 40px;
}
.navbar__logo span {
  display: none;
}
.navbar__navigation {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
}
.navbar__navigation a {
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbar__navigation a img {
  width: 25px;
  height: 25px;
}
.navbar__navigation a span {
  display: none;
}

/* FOOTER */
.footer {
  background-color: var(--primary-color-dark);
  color: var(--text-color-primary);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.footer__logo img {
  width: 40px;
  height: 40px;
}
.footer__logo span {
  font-size: calc(var(--text-font-sm) - 6px);
}
.footer__legal p,
.footer__contact__reach p,
.footer__contact__address,
.footer__contact__title {
  margin-bottom: 0.5rem;
}
.footer__contact__title {
  font-size: var(--text-font-sm);
}
.footer__contact__socials img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  /* HEADER */
  .navbar__logo img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .navbar__logo span {
    display: unset;
  }
  .navbar__navigation a span {
    display: unset;
  }

  /* FOOTER */
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
  .footer__logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
  }
  .footer__logo span {
    display: block;
    flex-basis: 100%;
  }
  .footer__copyright {
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/************* PROPERTIES PAGE *************/
/************* CONTACT PAGE *************/
/* CONTACT FORM */
.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}
.contact-form h3 {
  margin-bottom: 0.6rem;
}
.signup-form {
  width: 100%;
}
.signup-form__input-wrapper {
  height: 40px;
  position: relative;
  margin-bottom: 1rem;
}
.signup-form__input-wrapper select,
.signup-form__input-wrapper textarea,
.signup-form__input-wrapper input {
  height: 100%;
  border-radius: 6px;
  width: 100%;
  border: 1px solid var(--primary-color-dark);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: calc(var(--text-font-sm) - 3px);
  background-color: var(--text-color-white);
}
.signup-form__input-wrapper label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  transition: top ease 200ms;
  background-color: var(--text-color-white);
}
.signup-form__input-wrapper select:focus + label,
.signup-form__input-wrapper select:valid + label,
.signup-form__input-wrapper textarea:focus + label,
.signup-form__input-wrapper textarea:valid + label,
.signup-form__input-wrapper input:valid + label,
.signup-form__input-wrapper input:focus + label {
  top: 0;
}
.textarea-wrapper {
  height: 100px;
}
.signup-form__input-wrapper textarea {
  padding-top: 0.9rem;
}
.signup-form__footer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.signup-form__footer_button {
  background-color: var(--primary-color-light);
  color: var(--text-color-primary);
}

/* CONTACT INFO */
.contact-info {
  background-color: var(--primary-color-light);
  color: var(--text-color-primary);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: unset;
}
.contact-info h3 {
  margin-bottom: 2rem;
}
.contact-info__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact-info__details p,
.contact-info__details h5 {
  margin-bottom: 0.6rem;
}
.contact-info__details h5 {
  font-size: var(--text-font-md);
}
.contact-info__details img {
  width: 40px;
  height: 40px;
}
.contact-info__hours > div {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}
.contact-info__hours > div p {
  flex-basis: 50%;
}
.contact-info__map img {
  width: 100%;
  border-radius: 4px;
}

@media (min-width: 768px) {
  /* CONTACT FORM */
  .signup-form {
    width: 60%;
  }

  /* CONTACT INFO */
  .contact-info__details {
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
}

@media (min-width: 1024px) {
  /* CONTACT FORM */
  .signup-form {
    width: 40%;
  }
}

/* SCROLL-UP BUTTON */
.scroll-up {
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.scroll-up:hover {
  box-shadow: 5px 5px 5px var(--primary-color-light);
}

.scroll-up img {
  width: 3rem;
  max-width: 50px;
  max-height: 50px;
}

.detail {
  background: var(--quote-background-color);
}
.detail__content {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.detail__content__info-container h3 {
  font-weight: 10;
}
.detail__content__info-container ul {
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.detail__content__gallery img{
  margin-left: 1rem;
  margin-right: 1rem;
}

.detail__title {
  background: var(--grey-background);
  color: var(--text-color-primary);
  padding: 1rem;
  margin-top: 1rem;
}

.divident{
  width: 100%;
  height: 1px;
  background-color: black;
}
@media (min-width: 768px) {
  .detail__content {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
  }
}
